body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.botao {
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  max-width: 350px;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
}
